In [99]:
import os
import pandas as pd

In [110]:
def get_image_size(image_path):
    image = Image.open(image_path)
    width, height = image.size
    return width, height

def convert_bbox_to_yolo(xmin, ymin, xmax, ymax, image_width, image_height):
    x_center = (xmin + xmax) / 2
    y_center = (ymin + ymax) / 2
    width = xmax - xmin
    height = ymax - ymin
    x_center_relative = x_center / image_width
    y_center_relative = y_center / image_height
    width_relative = width / image_width
    height_relative = height / image_height
    yolo_bbox = [x_center_relative, y_center_relative, width_relative, height_relative]
    return yolo_bbox

def make_df(df_path,image_folder_path):
    df = pd.read_csv(df_path)
    total_df = df[(df['class'] ==1) | (df['class'] == 7)]

    path = image_folder_path
    for i in os.listdir(path):
        w,h = get_image_size(path+'/'+i)
        temp_li1.append(w)
        temp_li2.append(h)
        temp_li3.append(i)
    df_1 = pd.DataFrame({'width':temp_li1,'height':temp_li2,'filename':temp_li3})
    total_df1 = pd.merge(total_df,df_1,on='filename')

    total_df1['box'] = total_df1['box'].apply(lambda box: ast.literal_eval(box))
    total_df1['bbox'] = total_df1.apply(lambda row: convert_bbox_to_yolo(row['box'][0], row['box'][1], row['box'][2], row['box'][3], row['width'], row['height']), axis=1)
    print('데이터 프레임 완료')

    return total_df1

In [107]:
df123 = make_df('난다지명/5.물류센터.csv','image_data/image_data/5.물류센터_클래스분류')
len(set(df123['filename']))

파일 삭제 및, 데이터 프레임 완료

5758

In [111]:
df123

,filename,box,class,width,height,bbox
0,S2-N1401M00045.jpg,"[102, 548, 183, 632]",7,1920,1080,"[0.07421875, 0.5462962962962963, 0.0421875, 0...."
1,S2-N1401M00045.jpg,"[102, 548, 183, 632]",7,1920,1080,"[0.07421875, 0.5462962962962963, 0.0421875, 0...."
2,S2-N1401M00045.jpg,"[102, 548, 183, 632]",7,1920,1080,"[0.07421875, 0.5462962962962963, 0.0421875, 0...."
3,S2-N1401M00045.jpg,"[49, 629, 175, 894]",1,1920,1080,"[0.058333333333333334, 0.7050925925925926, 0.0..."
4,S2-N1401M00045.jpg,"[49, 629, 175, 894]",1,1920,1080,"[0.058333333333333334, 0.7050925925925926, 0.0..."
...,...,...,...,...,...,...
27730,S2-N1402M20397.jpg,"[852, 819, 900, 881]",1,1920,1080,"[0.45625, 0.7870370370370371, 0.025, 0.0574074..."
27731,S2-N1402M20397.jpg,"[852, 819, 900, 881]",1,1920,1080,"[0.45625, 0.7870370370370371, 0.025, 0.0574074..."
27732,S2-N1402M20398.jpg,"[1028, 785, 1072, 850]",1,1920,1080,"[0.546875, 0.7569444444444444, 0.0229166666666..."
27733,S2-N1402M20398.jpg,"[1028, 785, 1072, 850]",1,1920,1080,"[0.546875, 0.7569444444444444, 0.0229166666666..."
27734,S2-N1402M20398.jpg,"[1028, 785, 1072, 850]",1,1920,1080,"[0.546875, 0.7569444444444444, 0.0229166666666..."

In [109]:
len(os.listdir('image_data/image_data/5.물류센터_클래스분류'))

7028

In [108]:
len(set(df123['filename']))

5758

In [104]:
a1 = pd.read_csv('난다지명/5.물류센터.csv')
len(set(a1['filename']))

7028

In [102]:
len(os.listdir('image_data/image_data/5.물류센터_클래스분류'))

7028

In [22]:
df_dong =  pd.read_csv('난다지명/1.공동주택_동탄.csv')

In [28]:
df_dong[df_dong['filename'] == 'S2-N0002M00003.jpg']

              filename                     box  class
9   S2-N0002M00003.jpg  [1249, 161, 1302, 231]      7
10  S2-N0002M00003.jpg  [1220, 213, 1368, 320]      2
11  S2-N0002M00003.jpg    [724, 41, 1662, 660]     11
12  S2-N0002M00003.jpg      [265, 0, 637, 262]     20
13  S2-N0002M00003.jpg    [1457, 0, 1916, 154]     31

In [23]:
total_df = df_dong[(df_dong['class'] ==1) | (df_dong['class'] == 7)]

In [33]:
for i in os.listdir('image_data/image_data/1.공공주택_클래스분류_동탄'):
    if i not in set(total_df['filename']):
        os.remove(f'image_data/image_data/1.공공주택_클래스분류_동탄/{i}')

In [34]:
len(os.listdir('image_data/image_data/1.공공주택_클래스분류_동탄'))

150

In [24]:
total_df = total_df.reset_index(drop=True)

In [37]:
total_df.loc[total_df['class'] == 7,'class']  = 0

In [41]:
from PIL import Image

In [51]:
temp_li1 = []
temp_li2 = []
temp_li3 = []
def get_image_size(image_path):
    image = Image.open(image_path)
    width, height = image.size
    return width, height

path = 'image_data/image_data/1.공공주택_클래스분류_동탄'
for i in os.listdir(path):
    w,h = get_image_size(path+'/'+i)
    temp_li1.append(w)
    temp_li2.append(h)
    temp_li3.append(i)

In [54]:
df_1 = pd.DataFrame({'width':temp_li1,'height':temp_li2,'filename':temp_li3})

In [58]:
total_df

               filename                     box  class
0    S2-N0002M00003.jpg  [1249, 161, 1302, 231]      0
1    S2-N0002M00005.jpg    [880, 287, 944, 372]      0
2    S2-N0002M00137.jpg     [778, 39, 876, 189]      1
3    S2-N0002M00138.jpg    [788, 253, 842, 310]      0
4    S2-N0002M00138.jpg    [757, 332, 859, 496]      1
..                  ...                     ...    ...
155  S2-O0001M00404.jpg    [393, 225, 454, 299]      0
156  S2-O0001M00405.jpg    [581, 218, 664, 314]      0
157  S2-O0001M00406.jpg    [712, 192, 809, 300]      0
158  S2-O0001M00406.jpg    [517, 250, 838, 542]      1
159  S2-O0001M00407.jpg   [860, 314, 1202, 698]      1

[160 rows x 3 columns]

In [60]:
total_df1 = pd.merge(total_df,df_1,on='filename')

In [61]:
total_df1

               filename                     box  class  width  height
0    S2-N0002M00003.jpg  [1249, 161, 1302, 231]      0   1920    1080
1    S2-N0002M00005.jpg    [880, 287, 944, 372]      0   1920    1080
2    S2-N0002M00137.jpg     [778, 39, 876, 189]      1   1920    1080
3    S2-N0002M00138.jpg    [788, 253, 842, 310]      0   1920    1080
4    S2-N0002M00138.jpg    [757, 332, 859, 496]      1   1920    1080
..                  ...                     ...    ...    ...     ...
155  S2-O0001M00404.jpg    [393, 225, 454, 299]      0   1280     720
156  S2-O0001M00405.jpg    [581, 218, 664, 314]      0   1280     720
157  S2-O0001M00406.jpg    [712, 192, 809, 300]      0   1280     720
158  S2-O0001M00406.jpg    [517, 250, 838, 542]      1   1280     720
159  S2-O0001M00407.jpg   [860, 314, 1202, 698]      1   1280     720

[160 rows x 5 columns]

In [85]:
import ast

In [74]:
def convert_bbox_to_yolo(xmin, ymin, xmax, ymax, image_width, image_height):
    x_center = (xmin + xmax) / 2
    y_center = (ymin + ymax) / 2
    width = xmax - xmin
    height = ymax - ymin
    x_center_relative = x_center / image_width
    y_center_relative = y_center / image_height
    width_relative = width / image_width
    height_relative = height / image_height
    yolo_bbox = [x_center_relative, y_center_relative, width_relative, height_relative]
    return yolo_bbox

In [90]:
# for index,row in total_df1.iterrows():
#     a = ast.literal_eval(row['box'])
#     change = convert_bbox_to_yolo(a[0],a[1],a[2],a[3],row['width'],row['height'])
#     print(change)

In [91]:
total_df1['box'] = total_df1['box'].apply(lambda box: ast.literal_eval(box))

In [92]:
total_df1['bbox'] = total_df1.apply(lambda row: convert_bbox_to_yolo(row['box'][0], row['box'][1], row['box'][2], row['box'][3], row['width'], row['height']), axis=1)

In [93]:
total_df1

,filename,box,class,width,height,bbox
0,S2-N0002M00003.jpg,"[1249, 161, 1302, 231]",0,1920,1080,"[0.6643229166666667, 0.1814814814814815, 0.027..."
1,S2-N0002M00005.jpg,"[880, 287, 944, 372]",0,1920,1080,"[0.475, 0.3050925925925926, 0.0333333333333333..."
2,S2-N0002M00137.jpg,"[778, 39, 876, 189]",1,1920,1080,"[0.43072916666666666, 0.10555555555555556, 0.0..."
3,S2-N0002M00138.jpg,"[788, 253, 842, 310]",0,1920,1080,"[0.4244791666666667, 0.26064814814814813, 0.02..."
4,S2-N0002M00138.jpg,"[757, 332, 859, 496]",1,1920,1080,"[0.42083333333333334, 0.38333333333333336, 0.0..."
...,...,...,...,...,...,...
155,S2-O0001M00404.jpg,"[393, 225, 454, 299]",0,1280,720,"[0.330859375, 0.3638888888888889, 0.04765625, ..."
156,S2-O0001M00405.jpg,"[581, 218, 664, 314]",0,1280,720,"[0.486328125, 0.36944444444444446, 0.06484375,..."
157,S2-O0001M00406.jpg,"[712, 192, 809, 300]",0,1280,720,"[0.594140625, 0.3416666666666667, 0.07578125, ..."
158,S2-O0001M00406.jpg,"[517, 250, 838, 542]",1,1280,720,"[0.529296875, 0.55, 0.25078125, 0.405555555555..."
159,S2-O0001M00407.jpg,"[860, 314, 1202, 698]",1,1280,720,"[0.80546875, 0.7027777777777777, 0.2671875, 0...."

In [95]:
def create_yolo_label_txt(row):
    class_id = row['class']
    bbox = row['bbox']
    yolo_label = f"{class_id} {bbox[0]:.6f} {bbox[1]:.6f} {bbox[2]:.6f} {bbox[3]:.6f}"
    return yolo_label

# 'train_labels' 폴더 생성
val_labels_folder = 'labels'
if not os.path.exists(val_labels_folder):
    os.makedirs(val_labels_folder)

# YOLO 레이블 생성 및 .txt 파일 생성
for index, row in total_df1.iterrows():
    txt_filename = row['filename'].replace('.jpg', '.txt')
    txt_filepath = os.path.join(val_labels_folder, txt_filename)
    
    yolo_label = create_yolo_label_txt(row)
    
    with open(txt_filepath, 'w') as f:
        f.write(yolo_label)

print("YOLO label .txt files created in 'val_labels' folder.")

YOLO label .txt files created in 'val_labels' folder.

In [98]:
len(os.listdir('labels'))
len(os.listdir('image_data/image_data/1.공공주택_클래스분류_동탄'))

150

In [35]:
len(set(total_df['filename']))

150

In [27]:
for i in os.listdir('image_data/image_data/1.공공주택_클래스분류_동탄'):
    if i not in total_df['filename']:
        os.remove(f'image_data/image_data/1.공공주택_클래스분류_주안/{i}')

.ipynb_checkpoints
S2-N0002M00003.jpg
S2-N0002M00005.jpg
S2-N0002M00137.jpg
S2-N0002M00138.jpg
S2-N0002M00139.jpg
S2-N0002M00140.jpg
S2-N0002M00141.jpg
S2-N0002M00157.jpg
S2-N0002M00158.jpg
S2-N0002M00159.jpg
S2-N0002M00162.jpg
S2-N0002M00164.jpg
S2-N0002M00204.jpg
S2-N0002M00205.jpg
S2-N0002M00206.jpg
S2-N0002M00221.jpg
S2-N0002M00222.jpg
S2-N0002M00223.jpg
S2-N0002M00224.jpg
S2-N0002M00246.jpg
S2-N0002M00247.jpg
S2-N0002M00248.jpg
S2-N0002M00249.jpg
S2-N0002M00251.jpg
S2-O0001M00001.jpg
S2-O0001M00002.jpg
S2-O0001M00003.jpg
S2-O0001M00004.jpg
S2-O0001M00005.jpg
S2-O0001M00006.jpg
S2-O0001M00007.jpg
S2-O0001M00008.jpg
S2-O0001M00010.jpg
S2-O0001M00011.jpg
S2-O0001M00012.jpg
S2-O0001M00013.jpg
S2-O0001M00014.jpg
S2-O0001M00015.jpg
S2-O0001M00016.jpg
S2-O0001M00017.jpg
S2-O0001M00018.jpg
S2-O0001M00019.jpg
S2-O0001M00020.jpg
S2-O0001M00021.jpg
S2-O0001M00022.jpg
S2-O0001M00023.jpg
S2-O0001M00024.jpg
S2-O0001M00025.jpg
S2-O0001M00026.jpg
S2-O0001M00027.jpg
S2-O0001M00028.jpg
S2-O0001M00029.jpg
S2-O0001M00030.jpg
S2-O0001M00032.jpg
S2-O0001M00034.jpg
S2-O0001M00035.jpg
S2-O0001M00036.jpg
S2-O0001M00037.jpg
S2-O0001M00038.jpg
S2-O0001M00039.jpg
S2-O0001M00040.jpg
S2-O0001M00041.jpg
S2-O0001M00042.jpg
S2-O0001M00043.jpg
S2-O0001M00045.jpg
S2-O0001M00046.jpg
S2-O0001M00047.jpg
S2-O0001M00048.jpg
S2-O0001M00051.jpg
S2-O0001M00052.jpg
S2-O0001M00053.jpg
S2-O0001M00054.jpg
S2-O0001M00055.jpg
S2-O0001M00056.jpg
S2-O0001M00058.jpg
S2-O0001M00059.jpg
S2-O0001M00060.jpg
S2-O0001M00061.jpg
S2-O0001M00062.jpg
S2-O0001M00064.jpg
S2-O0001M00071.jpg
S2-O0001M00072.jpg
S2-O0001M00073.jpg
S2-O0001M00074.jpg
S2-O0001M00075.jpg
S2-O0001M00076.jpg
S2-O0001M00094.jpg
S2-O0001M00098.jpg
S2-O0001M00099.jpg
S2-O0001M00100.jpg
S2-O0001M00101.jpg
S2-O0001M00102.jpg
S2-O0001M00114.jpg
S2-O0001M00115.jpg
S2-O0001M00116.jpg
S2-O0001M00117.jpg
S2-O0001M00118.jpg
S2-O0001M00119.jpg
S2-O0001M00120.jpg
S2-O0001M00121.jpg
S2-O0001M00122.jpg
S2-O0001M00123.jpg
S2-O0001M00124.jpg
S2-O0001M00129.jpg
S2-O0001M00133.jpg
S2-O0001M00134.jpg
S2-O0001M00136.jpg
S2-O0001M00137.jpg
S2-O0001M00138.jpg
S2-O0001M00139.jpg
S2-O0001M00140.jpg
S2-O0001M00141.jpg
S2-O0001M00142.jpg
S2-O0001M00143.jpg
S2-O0001M00144.jpg
S2-O0001M00145.jpg
S2-O0001M00146.jpg
S2-O0001M00147.jpg
S2-O0001M00148.jpg
S2-O0001M00149.jpg
S2-O0001M00150.jpg
S2-O0001M00151.jpg
S2-O0001M00155.jpg
S2-O0001M00156.jpg
S2-O0001M00157.jpg
S2-O0001M00158.jpg
S2-O0001M00159.jpg
S2-O0001M00160.jpg
S2-O0001M00161.jpg
S2-O0001M00162.jpg
S2-O0001M00163.jpg
S2-O0001M00165.jpg
S2-O0001M00166.jpg
S2-O0001M00167.jpg
S2-O0001M00169.jpg
S2-O0001M00170.jpg
S2-O0001M00171.jpg
S2-O0001M00172.jpg
S2-O0001M00174.jpg
S2-O0001M00175.jpg
S2-O0001M00181.jpg
S2-O0001M00185.jpg
S2-O0001M00186.jpg
S2-O0001M00187.jpg
S2-O0001M00188.jpg
S2-O0001M00189.jpg
S2-O0001M00190.jpg
S2-O0001M00191.jpg
S2-O0001M00349.jpg
S2-O0001M00362.jpg
S2-O0001M00366.jpg
S2-O0001M00367.jpg
S2-O0001M00368.jpg
S2-O0001M00404.jpg
S2-O0001M00405.jpg
S2-O0001M00406.jpg
S2-O0001M00407.jpg

In [20]:
os.listdir('image_data/image_data/1.공공주택_클래스분류_주안')

[]